body,
html {
    margin-left: 50px;
    font-family: 'Quicksand', sans-serif;
    margin-right: 50px;
}


/*--INICIO PARTE SUPERIOR DO SITE --*/


/*logo site*/

.img1 {
    width: 100px;
    height: 100px;
    float: left;
    margin-left: 20px;
}


/*parte superior menu*/

.tablink {
    color: rgb(7, 95, 98);
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px 10px;
    font-size: 15px;
    border-radius: 2px;
    width: 180px;
    margin-top: 30px;
    background-color: rgb(255, 255, 255);
}


/*parte superior menu apos mouse passar por cima*/

.tablink:hover {
    background-color: rgb(3, 152, 158);
    color: rgb(255, 255, 255);
}


/*--FIM PARTE SUPERIOR DO SITE --*/


/*--PRIMEIRO BLOCO CENTRAL --*/


/*faixa do meio para ranking*/

.tabcontent {
    padding: 60px 10px;
    width: 100%;
    font-size: 20px;
}


/*imagem principal gatito*/

.img {
    width: 300px;
    height: 300px;
    float: right;
    margin-left: 50px;
    margin-bottom: 500px;
    top: 50px;
}


/*botao visite nosso ranking*/

.tablinkb {
    background-color: rgb(3, 152, 158);
    color: rgb(255, 255, 255);
    font-size: 20px;
    border-radius: 3px;
    margin-left: 200px;
    margin-top: 30px;
    border: none;
    outline: none;
    width: 280px;
    height: 50px;
}


/*botao visite nosso ranking quando o mouse passa*/

.tablinkb:hover {
    background-color: rgb(104, 104, 104);
    color: rgb(255, 255, 255);
}


/*--FIM PRIMEIRO BLOCO CENTRAL --*/


/*--MEIO COM CAMPO DE PESQUISA --*/


/* tamanho do bloco meio antes do footer*/

.meio {
    height: 300px;
}


/* imagens dos icones site*/

.itensa {
    width: 90px;
    float: right;
    margin-right: 30px;
}

.page-footer {
    margin-top: 100px;
    width: 100%;
    color: rgb(3, 152, 158);
}

.row {
    margin-left: 90px;
    margin-bottom: 200px;
    height: 10px;
}


/*--FORMATAÇÃO DE FONTES--*/

p {
    margin-left: 50px;
    font-stretch: condensed;
    font-size: 20px;
    width: 600px;
    text-align: center;
    color: rgb(104, 104, 104)
}

h3,
h4 {
    color: rgb(3, 152, 158);
    font-size: 24px;
    margin-top: 50px;
    text-align: center;
}

h2 {
    color: rgb(119, 119, 119);
    font-size: 17px;
    margin-left: 50px;
}

h5 {
    float: left;
    font-size: 20px;
    margin-left: 50px;
    margin-bottom: 70px;
}

h6 {
    float: right;
    font-size: 20px;
    margin-right: 20%;
}

h5:hover {
    color: rgb(3, 152, 158);
    border-radius: 3px;
}


/* FIM -- FORMATAÇÃO DE -- FONTES*/