body,
html {
    font-family: 'Quicksand', sans-serif;
    /* left: 90px;
    right: 50px; */
}


/*parte superior + encontre */

.encontre {
    font-size: 20px;
    border-radius: 5px;
    width: 50%;
    font-family: 'Quicksand', sans-serif;
    background-color: rgb(3, 152, 158);
    height: 40px;
    color: rgb(255, 255, 255);
    text-align: center;
    margin-top: 150px;
}

.link1{
    position: relative;
    left: -40px;
}

.link2{
    position: relative;
    left: -40px;
}

.text-cachorro {
    text-align: center;
    position: absolute;
    left: 420px;
    top: 450px;
    color: rgb(3, 152, 158);
}

.foto-cachorro {
    position: absolute;
    left: 440px;
}

.text-gato {
    text-align: center;
    position: absolute;
    left: 840px;
    top: 460px;
    color: rgb(3, 152, 158);
}

.foto-gato {
    position: absolute;
    left: 780px;
    margin-top: 30px;
}

.pata {
    position: absolute;
    left: 670px;
    top: 300px;
    width: 290px;
    height: 180px;
}


/* busca adoção */

.form-adocao {
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    margin-top: 350px;
    height: 50px;
    width: 400px;
    margin-left: 500px;
}


/* fontes */

h1 {
    font-size: 27px;
    font-family: 'Quicksand', sans-serif;
}

li {
    list-style-type: none;
    font-family: 'Quicksand', sans-serif;
}


/* animais para adoção */

.adocao {
    padding: 10px 10px 10px 10px;
    font-size: 20px;
    border-radius: 5px;
    width: 50%;
    font-family: 'Quicksand', sans-serif;
    background-color: rgb(104, 104, 104);
    height: 40px;
    color: rgb(255, 255, 255);
    margin-left: 250px;
    text-align: center;
    margin-top: 20px;
}

.animais {
    margin-left: 260px;
    margin-top: 150px;
    text-align: center;
}

.img-fluid {
    border-radius: 50%;
    width: 150px;
    height: 150px;
}


/* configuração footer */

.base {
    margin-top: 5%;
    float: left;
    font-family: 'Quicksand', sans-serif;
    /* margin-left: 90px;
    margin-top: 20px; */
}
