.mensagem {
    font-size: 20px;
    font-family: 'Quicksand', sans-serif;
    color: rgb(43, 169, 169);
    background-color: indigo;
    width: 40%;
}

a {
    font-size: 20px;
    font-family: 'Quicksand', sans-serif;
    text-decoration: none;
    color: rgb(125, 129, 136);
}

.avaliacao {
    width: 30%;
    font-family: 'Quicksand', sans-serif;
    font-size: 15px;
    margin-left: 900px;
    float: right;
    float: top;
}

form {
    font-size: 20px;
    font-family: 'Quicksand', sans-serif;
    color: rgb(43, 169, 169);
    width: 50%;
}