body {
    font-family: 'Quicksand', sans-serif;
    overflow-x: hidden;
}

.exibir {
    position: relative;
    top: 130px;
    left: 350px;
    font-family: 'Quicksand', sans-serif;
}

.img-fluid {
    border-radius: 50%;
    width: 300px;
    height: 300px;
    border: 3px solid rgb(92, 91, 91);
}

.descricao_exibir {
    position: relative;
    left: 770px;
    bottom: 150px;
    font-family: 'Quicksand', sans-serif;
    color: rgb(3, 152, 158);
}

.titulo {
    position: relative;
    top: 110px;
    left: 330px;
    font-family: 'Quicksand', sans-serif;
    color: rgb(114, 124, 124);
}

.whatsapp {
    position: relative;
    width: 100px;
    height: 100px;
    
}

.link {
    position: relative;
    left: 691px;
    color: rgb(3, 152, 158);
    bottom: 149px;
}

.link2 {
    position: relative;
    left: 770px;
    color: rgb(3, 152, 158);
    bottom: 149px;
}