body {
    font-family: 'Quicksand', sans-serif;
}

.exibir{
    position: relative;
    top: 130px;
    left: 350px;
    font-family: 'Quicksand', sans-serif;

}

.img-fluid {
    border-radius: 40%;
    width: 300px;
    height: 300px;
    border:5px solid rgb(3, 152, 158);
}

.descricao_exibir {
    position: relative;
    left: 770px;
    bottom: 150px;
    font-family: 'Quicksand', sans-serif;
}

.titulo {
    position: relative;
    top: 110px;
    left: 330px;
    font-family: 'Quicksand', sans-serif;
}

.whatsapp {
    position: relative;
    width: 100px;
    height: 100px;
    left: 20px;
}