body,
html {
    font-family: 'Quicksand', sans-serif;
    width: 100%;
    left: 90px;
    right: 50px;
}

.container-pet-form {
    width: 75%;
    font-family: 'Quicksand', sans-serif;
}

.container-login {
    width: 80%;
    float: center;
    padding-left: 30%;
    padding-right: 10%;
    font-family: 'Quicksand', sans-serif;
}

.cadastro {
    width: 45%;
    float: right;
    padding-right: 10%;
    /* padding-left: 10%; */
    font-family: 'Quicksand', sans-serif;
}

p {
    font-stretch: condensed;
    font-size: 20px;
    text-align: center;
    color: rgb(192, 192, 192);
    font-family: 'Quicksand', sans-serif;
}

h1 {
    font-size: 27px;
    padding-left: 10%;
    font-family: 'Quicksand', sans-serif;
}

label {
    font-family: 'Quicksand', sans-serif;
}

.promo {
    font-family: 'Quicksand', sans-serif;
    color: rgb(128, 128, 128);
}

.base {
    margin-top: 100px;
    float: left;
    margin-left: 50px;
}

.senha {
    width: 50%;
    float: left;
    padding-right: 2%;
}

.senhaConfirma {
    width: 50%;
    float: left;
    padding-left: 2%;
}

.data {
    width: 50%;
    float: left;
    padding-left: 2%;
}

.cpf {
    width: 50%;
    float: left;
    padding-right: 2%;
}

.espacamento {
    margin-top: 120px;
}

.img {
    height: 280px;
    float: left;
    margin-left: 90px;
    margin-right: 90px;
}

.imagem {
    width: 45%;
    float: left;
    padding-left: 10%;
}


/* .imagem#texto{
    margin-left: 200px;
    margin-right: 50px;
} */