body,
html {
    margin-left: 90px;
    margin-right: 50px;
    font-family: 'Quicksand', sans-serif;
}

.espacamento{
    margin-top: 140px;

}
.base {
    float: left;
    margin-top: 20px;
}

.container-pet-form {
    width: 40%;
    float: left;
    padding-left: 5%;
}

.container-pet-dados{
    width: 50%;
    float: left;
    padding-left: 5%;  
}
/* .container-pet-foto {
    width: 50%;
    float: right;
    padding-right: 13%;
    padding-left: 5%;
    font-family: 'Quicksand', sans-serif;
} */

.nascimento{
    width: 50%;
    float: right;
    padding-left: 2%;
}
.form-genero{
    width: 50%;
    float: left;
    padding-right: 2%;
}

.container-pet-preferencias {

    width: 40%;
    float: left;
    padding-left: 5%;  
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
   
}
.container-botao{
    width: 50%;
    float: left;
    padding-left: 5%;  
}
button[type=submit]{
    margin-top: 50px;
    margin-bottom: 50px;
    /* margin-right: 115px; */
    float: right;
    
}

/* .foto {
    width: 25%;
    height: 25%;
    float: left;
    padding-left: 3%;
    padding-top: 3%;
} */

#comentarios {
    width: 100%;
    height: 100px; 
    resize: none;
}

/* button{
    width: 100%;
    padding-left: 5%;  
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    margin-top: 5px;

} */
/* .caption {
    font-family: 'Quicksand', sans-serif;
    font-size: 13px;
}

li {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul li {
    float: right;
    padding: 20px;
}

ul li a {
    text-decoration: none;
    color: rgb(3, 152, 158);
}

.img {
    width: 100px;
    height: 100px;
    float: right;
    position: relative;
    right: 35px;
} */

h1 {
    font-size: 27px;
    padding-left: 5%;  
}

p {
    font-size: 20px;
}



/* //importante// */



input[type=radio] {
    visibility: hidden;
  }
  input[type=radio] + label {
      background-size:cover;
      background-position:center;
      background-repeat: no-repeat;
      margin-right: 15px;
      margin-bottom: 15px;
      height: 110px;
      width: 110px;
      display:inline-block;
  }

  #cachorro+label {
    display: block;
    float: left;
    cursor:pointer;
    border:3px solid #EEE;
    border-radius:15px;
    padding:10px;
}
  input#cachorro + label {
    background-image: url("../img/cao.jpg");
    
  }
  input#cachorro:checked + label {
    border:3px solid #3F51B5;
    background-image: url("../img/memecachorro.jpg");
      
  }
  
  #gato+label {
    display: block;
    float: left;
    cursor:pointer;
    border:3px solid #EEE;
    border-radius:15px;
    padding:10px;
  }
  input#gato + label {
    background-image: url("../img/gato.jpg");
  }
  input#gato:checked + label {
    border:3px solid #3F51B5;
    background-image: url("../img/memegato.jpg");
  } 


  #passaro+label {
    display: block;
    float: left;
    cursor:pointer;
    border:3px solid #EEE;
    border-radius:15px;
    padding:10px;
  }
  input#passaro + label {
    background-image: url("../img/passaro.jpg");
  }
  input#passaro:checked + label {
    border:3px solid #3F51B5;
    background-image: url("../img/memepassaro.jpg");
  } 

  #roedor+label {
    display: block;
    float: left;
    cursor:pointer;
    border:3px solid #EEE;
    border-radius:15px;
    padding:10px;
  }
  input#roedor + label {
    background-image: url("../img/roedor.jpg");
  }
  input#roedor:checked + label {
    border:3px solid #3F51B5;
    background-image: url("../img/memerato.jpg");
  }

  #reptil+label {
    display: block;
    float: left;
    cursor:pointer;
    border:3px solid #EEE;
    border-radius:15px;
    padding:10px;
  }
  input#reptil + label {
    background-image: url("../img/reptil.jpg");
  }
  input#reptil:checked + label {
    border:3px solid #3F51B5;
    background-image: url("../img/memetartaruga.jpg");
  }

  #peixe+label {
    display: block;
    float: left;
    cursor:pointer;
    border:3px solid #EEE;
    border-radius:15px;
    padding:10px;
  }
  input#peixe + label {
    background-image: url("../img/peixe.jpg");
  }
  input#peixe:checked + label {
    border:3px solid #3F51B5;
    background-image: url("../img/memepeixe.jpg");
  }