html,
body {
    /* margin-left: 90px;
    margin-right: 50px; */
    font-family: 'Quicksand', sans-serif;
}

h1 {
    font-size: 27px;
    
}

label {
    font-family: 'Quicksand', sans-serif;
}

.nome1{
    margin-top: 10px;
}

.container-cadastro {
    margin-left: 270px;
    line-height: 0.8;
    width: 50%;
    font-family: 'Quicksand', sans-serif;
    position: relative;
    margin-top: 120px;
}

.base {
    margin-top: 5%;
    float: left;
    font-family: 'Quicksand', sans-serif;
}