html,
body {
    margin-left: 90px;
    margin-right: 50px;
    font-family: 'Quicksand', sans-serif;
}


/*faixa do meio para ranking*/

.tabcontent {
    padding: 60px 10px;
    width: 100%;
    font-size: 20px;
    font-family: 'Quicksand', sans-serif;
    margin-left: 90px;
    margin-right: 90px;
    color: rgb(125, 129, 136);
}

.ranking {
    padding: 60px 10px;
    width: 100%;
    font-size: 20px;
    font-family: 'Quicksand', sans-serif;
    left: 90px;
    color: rgb(125, 129, 136);
    right: 50px;
}

.collapse-content .fa.fa-heart:hover {
    color: #f44336 !important;
}

.collapse-content .fa.fa-share-alt:hover {
    color: #0d47a1 !important;
}


/*imagem principal gatito*/

.img {
    width: 280px;
    height: 280px;
    float: right;
    margin-right: 200px;
    margin-bottom: 500px;
    top: 50px;
}


/*botao visite nosso ranking*/

.btn {
    background-color: rgb(3, 152, 158);
    color: rgb(255, 255, 255);
    font-size: 20px;
    border-radius: 3px;
    margin-left: 180px;
    margin-top: 30px;
    border: none;
    outline: none;
    width: 280px;
    height: 50px;
    text-align: center;
}

.btn:hover {
    background-color: rgb(104, 104, 104);
    color: rgb(255, 255, 255);
}

.botao {
    background-color: rgb(3, 152, 158);
    color: rgb(255, 255, 255);
    font-size: 18px;
    border-radius: 3px;
    margin-top: 30px;
    border: none;
    outline: none;
    width: 115px;
    height: 40px;
}

.botao:hover {
    background-color: rgb(104, 104, 104);
    color: rgb(255, 255, 255);
}


/*botao visite nosso ranking quando o mouse passa*/

.tablinkb:hover {
    background-color: rgb(104, 104, 104);
    color: rgb(255, 255, 255);
}


/*--FORMATAÇÃO DE FONTES--*/

p {
    margin-left: 50px;
    font-stretch: condensed;
    font-size: 20px;
    text-align: center;
    color: rgb(104, 104, 104);
    font-family: 'Quicksand', sans-serif;
    margin-left: 50px;
}

h3 {
    color: rgb(255, 255, 255);
    font-size: 40px;
    margin-top: 50px;
    margin-left: 200px;
    font-family: 'Quicksand', sans-serif;
}

.espacamento {
    margin-top: 100px;
}

a {
    text-decoration: none;
}

.dropdown-item {
    display: block;
    width: 100%;
    padding: .25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    font-size: 15px;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}

/*parte superior menu apos mouse passar por cima*/

.dropdown-item.droplink:hover {
    background-color: rgb(3, 152, 158);
    color: rgb(255, 255, 255);
    text-decoration:none;
    cursor:pointer;
}
