body {
    font-family: 'Quicksand', sans-serif;
    left: 90px;
    right: 50px;
}

.pesquisa {
<<<<<<< HEAD
    margin-top: 50px;
=======
    margin-top: 20px;
>>>>>>> c61d1785806d0c5caf21012184767f6217fb0594
    background-color: rgb(3, 152, 158);
    font-family: 'Quicksand', sans-serif;
}

button,
form {
    font-family: 'Quicksand', sans-serif;
    
}

.produtos {
    font-family: 'Quicksand', sans-serif;
    margin-left: 90px;    
}

.base {
    margin-left: 90px;
}

a {
    float: center;
}

.img-fluid {
    width: 180px;
    height: 180px;
    border-radius: 10%;
}

.nome {
    font-size: 17px;
    font-weight: bold;
    width: 200px;
}