body {
    font-family: 'Quicksand', sans-serif;
    left: 90px;
    right: 50px;
}

.pesquisa {
    margin-top: 20px;
    background-color: rgb(3, 152, 158);
    font-family: 'Quicksand', sans-serif;
}

button,
form {
    font-family: 'Quicksand', sans-serif;
    
}

.produtos {
    font-family: 'Quicksand', sans-serif;
    margin-left: 90px;    
}

.base {
    margin-left: 90px;
}

a {
    float: center;
}

.img-fluid {
    width: 200px;
    height: 200px;
    border-radius: 10%;
}