body,
html {
    font-family: 'Quicksand', sans-serif;
    
}

.espacamento{
    margin-top: 150px;

}

.meioesquerda {
    width: 50%;
    padding-left: 12%;
    float: left;
    font-family: 'Quicksand', sans-serif;
}

/* ---titulo---- */
.meioesquerda h1 {
    font-size: 30px;
    font-weight: bold;
    color: rgb(24, 110, 112);
    margin-top: 10px;
}

.meioesquerda p {
    font-stretch: condensed;
    font-size: 15px;
    color: rgb(114, 124, 124);
    font-family: 'Quicksand', sans-serif;
    width: 500px;

}

.imgav {
    width: 370px;
    height: 370px;
    
}

.imagem-cupom{
    padding-right: 15%;
    float:right;
    
}

.botao {
    background-color: rgb(3, 152, 158);
    color: rgb(255, 255, 255);
    font-size: 18px;
    border-radius: 3px;
    width: 200px;
    height: 40px;
    margin-top: 50px;
    text-align: center;
    text-decoration: none;
    border: none;
    outline: none;
}

.meiodireita {
    
    width: 50%;
    padding-left: 12%;
    float: left;
    font-family: 'Quicksand', sans-serif;
}


.meiodireita h1 {
    font-size: 30px;
    font-weight: bold;
    color: rgb(24, 110, 112);
    margin-top: 40px;

}

.meiodireita p {

    font-stretch: condensed;
    font-size: 15px;
    color: rgb(114, 124, 124);
    font-family: 'Quicksand', sans-serif;
    width: 500px;
    
}

.imagem-racao{
    padding-right: 15%;
    float:right;
    
}
.imagem-parceiros{
    padding-right: 13%;
    float:right;
    
}


.meioesquerda h2 {
    /* font-stretch: condensed; */
    font-size: 15px;
    color: rgb(43, 169, 169);
    font-family: 'Quicksand', sans-serif;
}

a #perguntas {
    font-stretch: condensed;
    font-size: 15px;
    color: rgb(43, 169, 169);
    font-family: 'Quicksand', sans-serif;
    text-decoration: none;
}


.imgp {
    height: 220px;
}

.container-superior {
    width: 400px;
    float: center;
    margin-top: 200px;
    margin-left: 100px;
    font-family: 'Quicksand', sans-serif;
}

.container-inferior {
    width: 70%;
    float: center;
    margin-left: 50px;
    margin-top: 200px;
    font-family: 'Quicksand', sans-serif;
}



.terceiro {
    width: 90%;
    text-align: center;
    margin-top: 100px;
    background-color: yellow;
}

.base {
    margin-top: 5%;
    float: left;
    font-family: 'Quicksand', sans-serif;
}